prefect==3.4.7
prefect-dbt==0.7.1
prefect-gcp==0.4.4
prefect-shell==0.3.1
dbt-core==1.10.2
dbt-bigquery==1.9.2
google-cloud-bigquery==3.34.0
google-cloud-core==2.4.3
google-auth==2.40.3
db-dtypes==1.4.3
pydata-google-auth==1.9.1
protobuf==5.29.5
grpcio==1.73.1
grpcio-status==1.71.2
Jinja2==3.1.6
python-dateutil==2.9.0.post0
PyYAML==6.0.2
click==8.1.8
requests==2.32.4
urllib3==2.5.0
certifi==2025.6.15
typing_extensions==4.14.0
pytz==2025.2